* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(c19.jpg);
  flex-direction: column;
}

.container {
  width: 800px;
  height: 300px;
  display: flex;
  align-items: auto;
  justify-content: center;
}

.box {
  width: 300px;
  height: 100px;
  margin: 0 15px;
  padding: 5px 5px;
  background-color: black;
  font-family: "Source Code Pro", monospace;
}

h3 {
  text-align: center;
  padding-top: 2px;
  color: bisque;
}

.box h1 {
  font-size: 50px;
  text-align: center;
  color: bisque;
}

.alert {
  display: none;
  background-color: red;
}

#alert_h1 {
  padding: 50px 80px;
  color: white;
}
#bigtext {
  color: black;
  display: flex;
  justify-content: center;
  background-color: hsl(180, 5%, 25%);
  width: 700px;
  margin-left: 50px;
  height: 100px;
  font-family: "Source Code Pro", monospace;
  font-size: 28px;
  padding: 30px;
  align-items: auto;
  margin-bottom: 20px;
}

.holder {
  margin-bottom: 200px;
  align-items: auto;
}
